<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>31 de Outubro de 2010</ion-card-subtitle>
      <ion-card-title>The Walking Dead</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg">
      <p>Nos Estados Unidos pós-apocalíptico, um pequeno grupo de sobreviventes segue viajando à procura de uma nova casa longe dos mortos-vivos. O desespero por seguran…</p>
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>15 de Julho de 2016</ion-card-subtitle>
      <ion-card-title>Stranger Things</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">
      <p>Quando um garoto desaparece, a cidade toda participa nas buscas. Mas o que encontram são segredos, forças sobrenaturais e uma menina.
      <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
