<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>Zumbilândia: Atire Duas Vezes</h1>
        <h2>09 de Outubro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/x8T7xy6usNhTWphfQTH7vmr4tOC.jpg">
        <p>Dez anos após Zombieland virar um filme de sucesso e um clássico cult, o elenco principal (Woody Harrelson,
          Jesse Eisenberg, Abigail Breslin e Emma Stone) se reuniu…</p>
          <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Clube da Luta</h1>
        <h2>15 de Outubro de 1999</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/8pcOlY6jaupFKTIy2aeKCKZ2GMj.jpg">
        <p>Jack (Edward Norton) é um executivo jovem, trabalha como investigador de seguros, mora confortavelmente, mas
          ele está ficando cada vez mais insatisfeito com sua…</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h1>Corações de Ferro</h1>
        <h2>15 de Outubro de 2014</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vcLMGSalApwsyVL66IZfcBZwbJe.jpg">
        <p>Durante o final da Segunda Guerra Mundial, um grupo de cinco soldados americanos é encarregado de atacar os
          nazistas dentro da própria Alemanha. Apesar de estarem…</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>O Exterminador do Futuro</h1>
        <h2>26 de Outubro de 1984</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/iHVDy91mpqUbUDdG6hfyniFQPx4.jpg">
        <p>Num futuro próximo, a guerra entre humanos e máquinas foi deflagrada. Com a tecnologia a seu dispor, um plano
          inusitado é arquitetado pelas máquinas ao enviar para…</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>